---
import { IconAlignStartVertical } from "@components/Icons";

const { experiences } = Astro.props;
---

{
  experiences.map((item: any) => (
    <div class="relative flex gap-2">
      <div class="flex flex-col items-center">
        <div class="flex h-4.5 w-4.5 rounded-full border border-slate-500/50 bg-slate-200 z-10" />
        <div class="w-px grow bg-gradient-to-b from-purple-500/30 to-pink-500/30" />
      </div>
      <div class="pb-8">
        <div class="flex flex-col">
          <h3 class="font-semibold text-lg">
            {item.title} | {item.company}
          </h3>
          <p class="text-sm font-medium">{item.location}</p>
          <p class="text-sm font-medium">{item.period}</p>
        </div>
        <div class="mt-2">
          <div class="flex items-center gap-x-1 mb-2">
            <IconAlignStartVertical />
            <p class="font-medium text-sm underline">Job Desc</p>
          </div>
          <ul class="text-sm space-y-1 list-disc">
            {item.jobDesc.map((desc: any) => (
              <div class="px-2">
                <li>{desc}</li>
              </div>
            ))}
          </ul>
        </div>
      </div>
    </div>
  ))
}
